
$darkColor1: #13183f;
$colorWhite: white;
$neutralColor1: #83869A;
$neutralColor2: #979797;
$brightColor: #F74780;
$colorStart1: #F02AA6;
$colorEnd1: #FF6F48;
$colorStart2: #4851FF;
$colorEnd2: #F02AA6;
$colorEnd3: #F0F1FF;
$gradient1: linear-gradient($colorStart1, $colorEnd1);
$gradient2: linear-gradient($colorStart2, $colorEnd2);
$gradient3: linear-gradient($colorWhite, $colorEnd3);
$hoverGradient1: linear-gradient(rgba(240, 42, 166, 0.5), rgba(255, 111, 72, 0.5));
$hoverGradient2: linear-gradient(rgba(71, 82, 225, 0.5), rgba(240, 42, 166, 0.5));
$psjFonts: "Plus Jakarta Sans", sans-serif;

* {
    box-sizing: border-box;
}

body {

    font-family: $psjFonts;
    

    

    main {

        width: min(95%, 375px);
        margin: 0 auto;
        background-image: $gradient3;


        .top_container {

            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 1rem;
            padding-top: 1.5rem;
    
            
            .button1{
                width: 140px;
                height: 48px;
                border-radius: 1.5rem;
                border: 0;
                background-color: $darkColor1;
                color: white;
                margin-left: 5rem;
                position: relative;
                z-index: 10;

                &:hover {
                    background-color: #666CA3;
                    cursor: pointer;
                }
            }

            .dark-logo {
                height: 35px;
                width: 89px;
            }


            
        }

       .hero-container {

            background-color: $colorWhite;
            display: flex;
            flex-direction: column;
            padding: 0 1rem 0 2rem;
        
            h1 {
                font-size: 2.5rem;
                color: $darkColor1;  
            }

            .intro-text {
                font-size: 1rem;
                line-height: 1.625rem;
                color: $neutralColor1;
            }

            .button2 {
                height: 56px;
                width: 167px;
                border-radius: 2rem;
                border: 0;
                background-image: $gradient1;
                color: $colorWhite;

                &:hover {
                    background-image: $hoverGradient1;
                    cursor: pointer;
                }
            }

       }

       .hero-mobile {
            width: 327px;
            height: 301px;
        }

        .hero-tablet {
            display: none;
        }

        .hero-desktop {
            display: none;
        }

        .course-containers {

            height: 1695px;
            display: grid;
            grid-template-columns: 343px;
            justify-content: center;
            align-items: center;
            background-image: $gradient3;
            

            h2 {
                background-image: $gradient1;
                font-size: 1.5rem;
                color: $colorWhite;
                height: 120px;
                border-radius: 0.5rem;
                padding: 1.5rem 2rem;
            }

            article {
                height: 283px;
                padding: 1.5rem 2rem;
                background-color: $colorWhite;
                

                h3 {
                    font-size: 1.25rem;
                    color: $darkColor1;
                }

                p {
                    line-height: 1.625rem;
                    color: $neutralColor1;
                }

                a {
                    text-decoration: none;
                    color: $brightColor;
                    font-size: 1.125rem;

                    &:hover {
                        color: #FFA7c3;
                    }
                }
            }

           
        }

        .bottom_container {
            
            height: 120px;
            width: 100%;
            background-color: $darkColor1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;

            .button3 {
                width: 140px;
                height: 48px;
                border-radius: 1.5rem;
                border: 0;
                background-image: $gradient2;
                margin-left: 5.5rem;
                color: $colorWhite;

                &:hover {
                    background-image: $hoverGradient2;
                    cursor: pointer;
                }
            }

            .light-logo {
                height: 35px;
                width: 89px;
            }
        }

    }

    @media screen and (min-width: 768px) {

        main {
            width: 768px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .top_container {
                width: 689px;
                align-items: center;

                .button1{
                    margin-left: 30rem;
                }
            }

            .hero-container {
                position: relative;
                right: 9rem;
                top: 5rem;
                width: 398px;
                height: 284px;
                overflow: hidden;
                padding: 0;

                h1 {
                    margin-top: -0.5rem;
                }

                p {
                    margin-top: -0.5rem;
                }
            }

            .hero-mobile{
                display: none;
            }

            .hero-tablet {
                position: relative;
                left: 22rem;
                bottom: 27rem;
                display: inline;
                width: 640px;
                height: 640px;
                z-index: 1;
            }

            .course-containers {
                
                height: 900px;
                margin-top: -30rem;
                grid-template-columns: 339px 339px;
                grid-auto-rows: 259px;
                gap: 3rem;

                h2 {
                    height: 259px;
                }
                
            }

            .bottom_container {
                width: 768px;
                height: 120px;
                
                .button3 {
                    margin-left: 30rem;
                }
            }
        }
        
    }

    @media screen and (min-width: 1440px) {

        main {
            width: 1440px;

            .top_container {
                width: 1440px;
                margin-top: -1rem;
                
                .dark-logo {
                    width: 111.17px;
                    height: 27.78px;
                }

                .button1 {
                    margin-left: 52rem;
                    width: 167px;
                    height: 56px;
                }
            }

            .hero-container {
                width: 457px;
                height: 359px;
                right: 21rem;
                top: 11rem;
                

                h1 {
                    font-size: 3.5rem;
                }

                p {
                    font-size: 1.125rem;
                }

                .button2 {
                    height: 63px;
                }
            }

            .hero-tablet {
                display: none;
            }

            .hero-desktop {
                display: inline;
                width: 991.63px;
                height: 936.92px;
                position: relative;
                bottom: 39rem;
                left: 36rem;
                z-index: 1;
                
            }

            .course-containers {

                height: 810px;
                grid-template-columns: 350px 350px 350px;
                grid-auto-rows: 346px;
                margin-top: -35rem;

                h2 {
                    font-size: 2rem;
                }

                article {

                    height: 346px;
                    h3 {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1.125rem;
                    }
                }
            }

            .bottom_container {
                width: 1440px;
                height: 120px;

                .button3 {
                    width: 167px;
                    height: 56px;
                    margin-left: 52rem;
                }

                .light-logo {
                    width: 111.17px;
                    height: 27.78px;
                }
            }
        }
        
    }


}